.product {
	flex: 4;
	padding: 20px;
}

.product-title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-add-button {
	width: 80px;
	border: none;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	background-color: teal;
	font-size: 16px;
	border-radius: 5px;
}

.product-top {
	display: flex;
}

.product-top-left,
.product-top-right {
	flex: 1;
}

.product-top-right {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.product-info-top {
  display: flex;
  align-items: center;
}

.product-info-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
}

.product-name {
  font-weight: 600;
}

.product-info-buttom {
  margin-top: 10px;
}

.product-info-item {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.product-info-key {
  font-weight: 600;
}

.product-info-value {
  font-weight: 300;
}